@extends('DummyModuleName::DummyBaseClass.layout')
@section('title')
    首页
@stop

@section('container')
    <table class="table">
        <thead>
            <tr>
                ModelColumnsHead
            </tr>
        </thead>
        <tbody>
            @foreach(DummyModelClassName as $item)
            <tr>
                ModelColumnsList 
            </tr>
            @endforeach
        </tbody>
    </table>
    <br>
    {{ DummyModelClassName->links() }}
@stop
